<div class="container-fluid section-divider position-relative" id="education">
  <div class="container">
    <div class="edu-content mainfont">
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="btn btn-outline-light active" id="v-pills-education-tab" data-bs-toggle="pill" data-bs-target="#v-pills-education" type="button" role="tab" aria-controls="v-pills-education" aria-selected="true">Education</button>
          <button class="btn btn-outline-light" id="v-pills-exp-tab" data-bs-toggle="pill" data-bs-target="#v-pills-exp" type="button" role="tab" aria-controls="v-pills-exp" aria-selected="false">Experiences</button>
          <button class="btn btn-outline-light" id="v-pills-resume-tab" data-bs-toggle="pill" data-bs-target="#v-pills-resume" type="button" role="tab" aria-controls="v-pills-resume" aria-selected="false">Resume</button>
        </div>
        <!-- VERTICAL NAV PILLS -->
        <div class="tab-content" id="v-pills-tabContent">
          <!-- TAB FOR EDUCATION -->
          <div class="tab-pane fade show active position-relative" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
            <img src="../../assets/img/windowframe.svg" width="700" alt="Browser element">
            <div class="position-absolute window-heading">
              <p style="color:deeppink; line-height:1; font-weight:500;">
                @import Education {{'{'}}
              </p>
            </div>
            <div class="position-absolute window-prefix-1">
              <p style="color:blue; line-height:1; margin-top:15px; font-weight:500;">
                .Tertiary {{'{'}}
              </p>
            </div>
            <div class="position-absolute window-text-1">
              <p style="line-height:1; margin-top:15px;">
                Holy Angel University<br/>
                BS in Information Technology<br/>
                Major in Web Development<br/>
                2019 - Present
              </p>
            </div>
            <div class="position-absolute window-prefix-2">
              <p style="color:blue; line-height:1; margin-top:15px; font-weight:500;">
                .Secondary {{'{'}}
              </p>
            </div>
            <div class="position-absolute window-text-2">
              <p style="line-height:1; margin-top:15px;">
                STI College San Fernando<br/>
                TVL - ICT Mobile App & Web Development<br/>
                2017 - 2019
              </p>
            </div>
          </div>
          <!-- TAB FOR EXPERIENCES -->
          <div class="tab-pane fade position-relative" id="v-pills-exp" role="tabpanel" aria-labelledby="v-pills-exp-tab">
            <img src="../../assets/img/windowframe.svg" width="700" alt="Browser element">
            <div class="position-absolute window-heading">
              <p style="color:deeppink; line-height:1; font-weight:500;">
                @import Experiences {{'{'}}
              </p>
            </div>
            <div class="position-absolute window-prefix-1">
              <p style="color:blue; line-height:1; margin-top:15px; font-weight:500;">
                .Vice_Chairperson {{'{'}}
              </p>
            </div>
            <div class="position-absolute window-text-1">
              <p style="line-height:1; margin-top:15px;">
                College Student Council<br/>
                School of Computing, Holy Angel University<br/>
                Major in Web Development<br/>
                2021 - 2022
              </p>
            </div>
            <div class="position-absolute window-prefix-2">
              <p style="color:blue; line-height:1; margin-top:15px; font-weight:500;">
                .Staff {{'{'}}
              </p>
            </div>
            <div class="position-absolute window-text-2">
              <p style="line-height:1; margin-top:15px;">
                Committee for Multimedia Arts and Creatives<br/>
                University Student Council<br/>
                Holy Angel University<br/>
                2019 - 2020
              </p>
            </div>
          </div>
          <!-- TAB FOR RESUME -->
          <div class="tab-pane fade position-relative" id="v-pills-resume" role="tabpanel" aria-labelledby="v-pills-resume-tab">
            <img src="../../assets/img/windowframe.svg" width="700" alt="Browser element">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute overflow-visible element-5">
    <img src="../../assets/img/hanging-flower-element-2.svg" class="img-fluid" width="400" loading="lazy">
  </div>
</div>