<div class="container-fluid section section-color-white position-relative section-divider">
  <div class="container" id="about">
    <div class="position-absolute ms-4">
      <h1 style="font-size: 4rem;">3+</h1>
      <p class="mainfont" style="font-size: 0.8rem;" >years of<br/>experience</p>
    </div>
    <div class="position-absolute overflow-visible element-3">
      <img src="../../assets/img/flower-element-3.svg" class="img-fluid" width="200" loading="lazy">
    </div>
    <div class="about-content">
      <h3 class="mainfont mb-4" style="text-align: justify;">
        Web developer and design enthusiast that 
        takes user interface to the next level.
        I specialize in building digital products.
      </h3>
      <p class="lead mainfont fs-6" style="text-align: justify;">
        I am currently studying web development
        course at Holy Angel University. I focus more
        on the development of web and mobile design
        to produce beautifully crafted user interaction
        and experiences.
      </p>
      <h3 class="mainfont mt-5 mb-2">Tools that I use</h3>
      <div class="d-grid gap-2 d-flex justify-content-start">
        <div class="col"><hr class="strike"></div>
        <div class="col-1"><img src="../../assets/img/banner-up.svg" class="img-fluid" width="64" alt="Banner"/></div>
        <div class="col"><hr class="strike"></div>
      </div>
      <div class="my-3">
        <p class="mainfont fs-5">
          UI/UX Design : Figma, Adobe XD, Photoshop, Illustrator<br/>
          Web Development : HTML, CSS, Javascript, AngularJS, VueJS<br/>
          Mobile Development : Flutter, Dart
        </p>
      </div>
      <div class="d-grid gap-2 d-flex justify-content-start">
        <div class="col"><hr class="strike"></div>
        <div class="col-1"><img src="../../assets/img/banner-down.svg" class="img-fluid" width="64" alt="Banner"/></div>
        <div class="col"><hr class="strike"></div>
      </div>
    </div>
  </div>
  <div class="position-absolute overflow-visible element-4">
    <img src="../../assets/img/hanging-flower-element-1.svg" class="img-fluid" width="300" loading="lazy">
  </div>
</div>