<div class="container-fluid section-color section position-relative" id="home">
  <div class="container py-5">
    <div class="row flex-row-reverse align-items-center hero">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../assets/img/kat.svg" class="img-fluid img-sizing" 
        alt="Kat Image">
      </div>
      <div class="col-lg-6">
        <p class="prefix mainfont fw-bold" #animatedHeroSubheader>Katrine Joy Dela Cruz</p>
        <h1 class="main-header mainfont lh-5 fw-bold" #animatedHeroHeader>Designer/ <br/>Developer</h1>
        <div class="d-grid gap-2 d-flex justify-content-start">
          <div class="col-3" #animatedHeroStrike><hr class="strike"></div>
          <div class="col-5" #animatedHeroLink>
            <a href="#about" class="link-dark fw-bold" style="text-decoration:none;">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute element-1">
    <img src="../../assets/img/flower-element-1.svg" 
    class="img-fluid fbg" width="500" #animatedFlower1>
  </div>
  <div class="position-absolute element-2">
    <img src="../../assets/img/flower-element-2.svg" 
    class="img-fluid fbg" width="300" #animatedFlower2>
  </div>
</div>
