@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500;700&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Satisfy&display=swap");
body {
  font-family: "DM Sans", Georgia, Times, 'Times New Roman', serif;
}
.brand {
  font-family: "Caveat", "Satisfy", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.navbar {
  background: linear-gradient(#f4e3e3 1%, 
  rgba(244, 227, 227, 0.75) 10%, 
  rgba(244, 227, 227, 0.25) 100%, transparent);
}
.mainfont {
  font-family: "DM Mono", "DM Sans", "Cambria", sans-serif;
}
.section-color {
  background-color: #f4e3e3;
  height: 60.5rem;
}
.hero {
  margin-left: 6rem;
  margin-right: 6rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.prefix {
  letter-spacing: 0.2rem;
  margin-left: 3px;
}
.main-header {
  font-size: 5rem;
  letter-spacing: 1rem;
}
.strike {
  height: 2px !important;
  background: black !important;
  margin-top: 11px !important;
  margin-bottom: 11px !important;
  opacity: 0.8;
}
.img-sizing {
  width: 30rem;
}
.element-1 {
  left: -10%;
  top: 10%;
}
.element-2 {
  left: 70%;
  top: 50%;
}

/* Desktop devices */
@media only screen and (min-width: 1280px) and (max-width: 1500px) { 
  .section-color {
    background-color: #f4e3e3;
    height: 40rem;
  }
  .hero {
    margin-left: 9rem;
    margin-right: 5 rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .prefix {
    letter-spacing: 0.25;
  }
  .main-header {
    font-size: 4rem;
    letter-spacing: 0.75rem;
  }
  .img-sizing {
    width: 23rem;
  }
  .element-1 {
    width: 28rem !important;
    left: -17%;
    top: 0;
  }
  .element-2 {
    width: 15rem !important;
    left: 73%;
    top: 55%;
  }
}
/* Small Laptops and Tablets */
@media only screen and (min-width: 960px) and (max-width: 1279.89px) {
  .section-color {
    background-color: #f4e3e3;
    height: 46.5rem;
  }
  .hero {
    margin-left: 8rem;
    margin-right: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .prefix {
    letter-spacing: 0.25;
  }
  .main-header {
    font-size: 3rem;
    letter-spacing: 0.75rem;
  }
  .img-sizing {
    width: 18rem;
  }
  .element-1 {
    left: -22.5%;
    top: 5%;
  }
  .element-2 {
    left: 70%;
    top: 45%;
  }
}
/* Tablet devices */
/* @media only screen and (min-width: 577px) and (max-width: 1198.98px) { } */
/* Mobile devices */
/* @media only screen and (max-width: 576px) { } */