@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500;700&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Satisfy&display=swap");
@import "~swiper/swiper-bundle.css";
.swiper {
  width: 100%;
  padding-top: 50px;
}
.swiper-slide1 {
  background-position: center;
  background-size: cover;
  width: 300px;
}
.swiper-slide2 {
  background-position: center;
  background-size: cover;
  width: 600px;
}
.swiper-slide img {
  display: block;
}


body {
  font-family: "DM Sans", Georgia, Times, 'Times New Roman', serif;
}
.brand {
  font-family: "Caveat", "Satisfy", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
/* .navbar {
  background: linear-gradient(#f4e3e3 1%, 
  rgba(244, 227, 227, 0.75) 10%, 
  rgba(244, 227, 227, 0.25) 100%, transparent);
} */
.mainfont {
  font-family: "DM Mono", "DM Sans", "Cambria", sans-serif;
}
.section-color {
  background-color: #f4e3e3;
}
.section-color-white {
  background-color: white;
}
.section {
  width: 100%;
  height: 100vh;
}
.hero {
  margin-left: 6rem;
  margin-right: 6rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.prefix {
  letter-spacing: 0.2rem;
  margin-left: 3px;
}
.main-header {
  font-size: 5rem;
  letter-spacing: 1rem;
}
.strike {
  height: 2px !important;
  background: black !important;
  margin-top: 11px !important;
  margin-bottom: 11px !important;
  opacity: 0.8;
}
.img-sizing {
  width: 30rem;
}
.element-1 {
  left: -10%;
  top: 10%;
}
.element-2 {
  left: 70%;
  top: 50%;
}
.element-3 {
  left: 12%;
  top: 40%;
}
.element-4 {
  width: 15rem;
  left: 82%;
  top: 0;
}
.element-5 {
  width: 18rem;
  left: 78%;
  top: 0;
}
.about-content {
  margin-left: 10rem;
  margin-right: 10rem;
}
.section-divider {
  padding-top: 17.5rem;
  padding-bottom: 17.5rem;
}
.edu-content {
  margin-left: 6rem;
  margin-right: 4rem;
}
.windowframe {
  width: 50rem;
}
.window-heading {
  top: 30%;
  left: 15%;
}
.window-prefix-1 {
  top: 35%;
  left: 20%;
}
.window-text-1 {
  top: 40%;
  left: 25%;
}
.window-prefix-2 {
  top: 60%;
  left: 20%;
}
.window-text-2 {
  top: 65%;
  left: 25%;
}
.work-banner-margins {
  margin-left: 20rem;
  margin-right: 20rem;
}
.contact-content {
  margin-top: 6rem;
  margin-bottom: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.contact-content h1 {
  font-size: 7rem;
}

/* Small Desktops and Large Laptops (1280x750)*/
@media only screen and (min-width: 1280px) and (max-width: 1500px) { 
  .section-color {
    background-color: #f4e3e3;
    height: 47rem;
  }
  .hero {
    margin-left: 10rem;
    margin-right: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .prefix {
    letter-spacing: 0.25;
  }
  .main-header {
    font-size: 4.25rem;
    letter-spacing: 0.75rem;
  }
  .img-sizing {
    width: 23rem;
  }
  .element-1 {
    width: 28rem !important;
    left: -17%;
    top: 5%;
  }
  .element-2 {
    width: 15rem !important;
    left: 73%;
    top: 55%;
  }
  .element-3 {
    left: -3%;
    top: 25%;
  }
  .element-4 {
    width: 12rem;
    left: 82%;
    top: 0;
  }
  .element-5 {
    width: 16rem;
    left: 75%;
    top: 0;
  }
  .about-content {
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .section-divider {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .edu-content {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .windowframe {
    width: 40rem;
  }
  .work-content {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .work-banner-margins {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}
/* X-Small Desktop and Laptops */
@media only screen and (min-width: 1024px) and (max-width: 1299.89px) {
  .section-color {
    background-color: #f4e3e3;
    height: 46.5rem;
  }
  .hero {
    margin-left: 8rem;
    margin-right: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .prefix {
    letter-spacing: 0.25;
  }
  .main-header {
    font-size: 3rem;
    letter-spacing: 0.75rem;
  }
  .img-sizing {
    width: 18rem;
  }
  .element-1 {
    width: 22rem !important;
    left: -17%;
    top: 13%;
  }
  .element-2 {
    width: 12rem !important;
    left: 73%;
    top: 55%;
  }
  .element-3 {
    width: 9rem !important;
    left: 0;
    top: 25%;
  }
  .element-4 {
    width: 12rem;
    left: 82%;
    top: 0;
  }
  .element-5 {
    width: 15rem;
    left: 80%;
    top: 0;
  }
  .about-content {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  p.fs-5 {
    font-size: 1rem !important;
  }
  .section-divider {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }
  .edu-content {
    margin-left: 2rem;
    margin-right: 1rem;
  }
  .windowframe {
    width: 40rem;
  }
  .work-content {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .work-banner-margins {
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .contact-content {
    margin-top: 6rem;
    margin-bottom: 5rem;
    margin-left: 0;
    margin-right: 0;
  }
  .contact-content h1 {
    font-size: 6rem;
  }
}

/* Tablet devices */
/* @media only screen and (min-width: 577px) and (max-width: 1198.98px) { } */
/* Mobile devices */
/* @media only screen and (max-width: 576px) { } */